@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: black;
    background: white;
    font-family: 'Poppins', sans-serif;
    border: 10px solid #171F3F;
}

.card {
    background: #FFFFFF;
    height: 250px;
    width: 290px;
    font-size: 10px;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    overflow: hidden;
    &__background {
        background: #F5F7FA;
        color: #0593FB;
        height: 120px;
        padding: 8px;
    }
    &__box {
        padding: 24px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 32px;
    }
    &__paragraph {
        font-style: normal;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
    }
    &__link {
        color: #0593FB;
        line-height: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        &+& {
            padding-left: 24px;
            &::after {
                content: '';
                height: 32px;
                width: 2px;
                background: #CBD2D9;
                display: block;
                position: absolute;
            }
            &--code ::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        font-style: normal;
        font-weight: 250;
        font-size: 14px;
        line-height: 32px;
    }
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    column-gap: 24px;
    grid-gap: 30px;
}

.footer {
    background: #171F3F;
    height: 300px;
    color: white;
    padding: 50px;
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        &::before {
            content: '';
            width: 80px;
            height: 4px;
            display: block;
            background: #0593FB;
            border-radius: 8px;
            margin-bottom: 1, 6rem;
        }
    }
    &__paragraph {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
    }
    &__social {
        width: 32px;
        height: 32px;
        margin-bottom: 20px;
        display: flex;
    }
    &__icon {
        text-decoration: none;
        margin-bottom: 10px;
        &+& {
            margin-left: 3 rem;
            padding-right: 10px;
            padding-left: 20px;
        }
    }
    &__mail {
        color: #0593FB;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 8px;
        border-bottom: 2px solid #0593FB;
        display: inline-block;
    }
}

.header {
    padding: 70px;
    max-width: 1200px;
    padding: 112px, 8px, 184px;
    margin: 0 auto;
    &__photo {
        height: 150px;
        width: 150px;
        border: 6px solid #CBD2D9;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 6px;
        color: #171F3F;
        max-width: 780px;
    }
    &__paragraph {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 60px;
        color: #52606D;
        max-width: 780px;
    }
    &__mail {
        color: #0593FB;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 8px;
        border-bottom: 2px solid #0593FB;
    }
    &__link {
        color: #0593FB;
        font-weight: 500;
    }
}

.project {
    background: #F5F7FA;
    color: #171F3F;
    padding: 70px;
    &__title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        max-width: 1200px;
    }
    &__paragraph {
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        max-width: 500px;
    }
}

.skills {
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #171F3F;
    margin-top: 10px;
    margin-bottom: 100px;
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        grid-column: 1 / span 2;
        border-bottom: 1px solid #F5F7FA;
        margin-bottom: 100px;
        padding: 1;
    }
    &__subtitle {
        &--green {
            &::before {
                content: '';
                width: 80px;
                height: 4px;
                display: block;
                border-radius: 8px;
                margin-bottom: 1rem;
                background: #06C847;
            }
        }
        &--violet {
            &::before {
                content: '';
                width: 80px;
                height: 4px;
                display: block;
                border-radius: 8px;
                margin-bottom: 1rem;
                background: #653CAD;
            }
        }
        &--blue {
            &::before {
                content: '';
                width: 80px;
                height: 4px;
                display: block;
                border-radius: 8px;
                margin-bottom: 1rem;
                background: #2251CC;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        list-style-type: none;
        padding: 11px 0 11px 22px;
        margin: 28px;
        column-gap: 24px;
    }
    &__item {
        padding: 11px 0 11px 30px;
        position: relative;
        &::before {
            position: absolute;
            top: 10px;
            left: 0;
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background: url('../assets/img/green-vector.svg');
            .skills__list--violet & {
                background: url('../assets/img/purple-vector.svg');
            }
            .skills__list--blue & {
                background: url('../assets/img/blue-vector.svg');
            }
        }
    }
}